.section-inner {
    position: relative; // To always display inner elements above pseudo decorative stuff
    padding-top: $section--padding__mobile;
    padding-bottom: $section--padding__mobile;
    margin-top: 4rem;
}
.imgText{
    text-align: center;
    h1{
        line-height:100px;
        font-size: auto ;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 10px;
        background:url(../../../images/txtbg2.jpg) 50% 50%;
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0px 10px 10px rgba(0,0,0,0.2);
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        

        
    }
}
.imgText1{
    text-align: center;
    h1{
        line-height:100px;
        font-size: auto ;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 10px;
        background:url(../../../images/txt2bg.jpg) 50% 50%;
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0px 10px 10px rgba(0,0,0,0.2);
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;


        

        
    }
}
.working-env{
    background:url(../../../images/env1.jpeg)   ;
    background-size: cover;
    min-height: 30vh;
    border-radius: 10px;
    div{
        backdrop-filter: blur(3px);
        align-items: center;
        min-height: 50vh;
        margin: 0;
        margin-top: 4rem;
        padding: 0;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        &:hover{
            backdrop-filter: blur(10px);
            transition: ease-in 0.5s;
        }

        p{
            padding-top: 30px;
            color: #fff;
            font-size: 30px;
        }
        ul,li{
            list-style: none;
            padding:10px;
            margin: 0;
            color: #fff;
            text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
        }
    }
}
.section-header {
	padding-bottom: $section-header--padding__mobile;

   
   
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: $section--padding__desktop;
        padding-bottom: $section--padding__desktop;
    }

	.section-header {
		padding-bottom: $section-header--padding__desktop;
	}
}
